<!-- replace cats with other variable -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= recipe.name %>
    </h1>
    <p>This recipe was shared by <%= recipe.user.username%></p>
    <p>
        <img src="<%= recipe.image %>">
    </p>
    <p>
     Meat:   <%= recipe.meat %>
    </p>
    <p>
     Vegetables:   <%= recipe.vegetables %>
    </p>
    <p>
     Spices:   <%= recipe.spices %>
    </p>
    <p>
     Vegan?   <%= recipe.isVegan %>
    </p>
    

    <a href="/recipes/<%=recipe._id%>/edit"><button>Edit This Recipe</button></a>
    
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete This Recipe</button>
    </form>

    <a href="/recipes"><button>All Recipes</button></a>
</body>

</html>